@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
    background-color: #151515;
    background-image: url(./images/fruits.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Title {
    margin: 1rem;
    font-family: 'Permanent Marker';
    text-align: center;
    color:rgb(255, 203, 33);
    text-shadow: 4px 4px 6px #151515;
    font-size: x-large;
}

.Container {
    background-color:rgb(231, 228, 204);
    border-radius: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    top: 100px;
    position: relative;
    max-width: 600px;
    margin: auto;
}